body {
    background-color: #e2e2e2;
}

.input {
    width: 75%;
    margin-left: 11%;
    margin-top: 50px;
}

.create {
    background-color: #007fff;
    text-align: center;
    margin-left: 73%;
    border: none;
    padding: 10px 20px;
    height: 50px;
    width: 100px;
}

h1 {
    text-align: center;
}
