.signout {
    background-color: #007fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.nav-brand {
    color: black;
    font-weight: bold;
    font-size: 22px;
}
